<h1>Chatbot</h1>

<%= form_with url: homes_answer_path, method: :post, local: true do %>
  <div>
    <%= label_tag :days, "休日の日数:" %>
    <%= number_field_tag :days, nil, required: true, min: 1, max: 5,placeholder: "例: 3" %>
  </div>
  <div>
    <%= label_tag :people, "人数:" %>
    <%= number_field_tag :people, nil, required: true, min: 1, max: 5, placeholder: "例: 2" %>
  </div>
  <div>
    <%= label_tag :budget, "一人当たりの予算 (円):" %>
    <%= number_field_tag :budget, nil, required: true, step: 1000, min: 0, placeholder: "例: 5000" %>
  </div>
  <div>
    <%= label_tag :location, "現在地:" %>
    <%= text_field_tag :location, nil, required: true, placeholder: "例: 渋谷ハチ公前" %>
  </div>
  <div>
    <%= label_tag :mood, "気持ち:" %>
    <%= text_field_tag :mood, nil, required: true, placeholder: "例: リラックスしたい" %>
  </div>
  <div>
    <%= label_tag :remarks, "備考:" %>
    <%= text_field_tag :remarks, nil, required: false, placeholder: "例: 交通機関を使う" %>
  </div>
  <div>
    <%= submit_tag "質問する" %>
  </div>
<% end %>
